.advantages {
  border: 1px solid gold;
}

.advantages__wrapper {
  padding: 20px 15px;
}

.advantages__main-title {
  text-align: center;
  margin-bottom: 35px;
}

.advantages__item {
  margin-bottom: 100px;
}

.advantages__title {
  margin-bottom: 15px;
}

@media (min-width: $desktop-min-width) {
  .advantages__wrapper {
    padding: 140px 90px 100px 90px;
  }

  .advantages__main-title {
    margin-bottom: 195px;
  }

  .advantages__item {
    margin-bottom: 300px;
  }
}
