.header {
  border: 1px solid blue;
}

.header__wrapper {
  padding: 20px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  text-decoration: none;
  color: $primary-font-color;
  white-space: nowrap;

  sup {
    color: $primary-color;
  }
}

.header__toggle {
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    fill: #ffffff;
  }
}

.header__navigation {
  padding-top: 20px;
  width: 100%;
}

@media (min-width: $tablet-min-width) {
  .header__wrapper {
    padding: 20px;
  }
}

@media (min-width: $desktop-min-width) {
  .header__wrapper {
    padding: 45px 20px;
    flex-wrap: nowrap;
  }

  .header__toggle {
    display: none;
  }

  .header__navigation {
    padding-top: 0;
  }
}
