.header {
  border: 1px solid blue;
}

.header__wrapper {
  padding: 20px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  text-decoration: none;
  color: $primary-font-color;

  sup {
    color: $primary-color;
  }
}

.header__toggle {
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    fill: #ffffff;
  }
}

.header__navigation {
  padding-top: 20px;
  width: 100%;
}
