.header {
  border: 1px solid blue;
}

.header__wrapper {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  text-decoration: none;
  color: $primary-font-color;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  sup {
    color: $primary-color;
  }
}

.header__logo-image {
  margin-right: 10px;
  width: 30px;
}

.header__toggle {
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    fill: #ffffff;
  }
}

.header__navigation {
  padding-top: 20px;
  width: 100%;
}

@media (min-width: $tablet-min-width) {
  .header__wrapper {
    padding: 25px;
  }
}

@media (min-width: $desktop-min-width) {
  .header {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
  }

  .header__wrapper {
    padding: 30px 20px;
    flex-wrap: nowrap;
  }

  .header__logo-image {
    width: 42px;
  }

  .header__toggle {
    display: none;
  }

  .header__navigation {
    padding-top: 0;
  }
}
