.hero__wrapper {
  padding: 20px;
}

.hero__title {
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 25px;
}

.hero__text {
  font-size: 20px;
  line-height: 27px;
  font-weight: 200;
  letter-spacing: 1px;
  color: $secondary-font-color;
  margin-bottom: 10px;
}

.hero__link {
  &--free {
    margin-right: 5px;
  }
}

@media (min-width: $tablet-min-width) {
  .hero {
    min-height: 600px;
    background: url("https://via.placeholder.com/780x540") center 370% no-repeat,
      url("../img/pattern.jpg");
    background-size: auto, 10%;
  }

  .hero__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px 45px;
  }

  .hero__title,
  .hero__container {
    width: 47%;
    border: 1px solid pink;
    margin-bottom: 0;
  }

  .hero__title {
    font-size: 38px;
    line-height: 50px;
  }

  .hero__text {
    font-size: 19px;
  }

  .hero__link {
    &--free {
      margin-right: 10px;
    }
  }
}

@media (min-width: $desktop-min-width) {
  .hero {
    min-height: 700px;
    background: url("https://via.placeholder.com/860x544") center 230% no-repeat,
      url("../img/pattern.jpg");
    background-size: auto, 10%;
  }

  .hero__wrapper {
    padding: 45px 90px;
    padding-top: 150px;
  }

  .hero__title {
    font-size: 48px;
  }

  .hero__text {
    font-size: 23px;
  }
}
