.hero__wrapper {
  padding: 20px 15px;
}

.hero__title {
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 25px;
}

.hero__text {
  font-size: 20px;
  line-height: 30px;
  font-weight: 200;
  letter-spacing: 1px;
  color: $secondary-font-color;
  margin-bottom: 20px;
}

.hero__link {
  &--free {
    margin-right: 10px;
  }
}

@media (min-width: $tablet-min-width) {
  .hero__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px 45px;
  }

  .hero__title,
  .hero__container {
    width: 47%;
    border: 1px solid pink;
  }

  .hero__title {
    font-size: 40px;
  }

  .hero__text {
    font-size: 23px;
  }

  .hero__link {
    &--free {
      padding: 12px 40px;
    }

    &--demo {
      padding: 12px 30px;
    }
  }
}

@media (min-width: $desktop-min-width) {
  .hero__wrapper {
    padding: 45px 90px;
  }

  .hero__title {
    font-size: 50px;
  }
}
