.integrations__wrapper {
  padding: 20px 15px;
  text-align: center;
}

.integrations__note {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 16px;
}

.integrations__title {
  margin-bottom: 15px;
}
