.navigation {
  background-color: $bg-color;
  text-align: center;
  display: none;
}

.navigation__list {
  list-style-type: none;
  padding: 0 15px;

  &:first-of-type {
    margin-bottom: 35px;
  }
}

.navigation__item:not(:last-child) {
  margin-bottom: 20px;
}

.navigation__link {
  color: $primary-font-color;
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}
