$main-font: "Oswald", arial, sans-serif;
$primary-font-color: #ffffff;
$secondary-font-color: #838485; //серый
$bg-color: #343434; //темно-серый
$primary-color: #0b7ed2; //синий
$tablet-min-width: 768px;
$desktop-min-width: 1300px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
