@import "variables";
@import "mixins";
@import "centering";
@import "visually-hidden";
@import "button";
@import "title";
@import "text";
@import "note";
@import "body";
@import "header";
@import "navigation";
@import "hero";
@import "advantages";
@import "explore";
@import "integrations";
@import "plans";
@import "plan";
@import "reviews";
@import "footer";
@import "footer-navigation";
@import "subscription";
@import "social";

img {
  max-width: 100%;
  height: auto;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
