@import "variables";
@import "mixins";
@import "centering";
@import "visually-hidden";
@import "header";
@import "navigation";
@import "footer";
@import "footer-navigation";
@import "subscription";

body {
  background-color: $bg-color;
  font-family: monospace;
  color: $primary-font-color;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
